div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}
h1{
    color: #000;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td {
    color: #000;
}
th {
  background-color: #fff;
}
.caillou_rubrique_lien{
  text-decoration: none;
  background-color: #d4b4bc;
  color: #701023;
  padding: 10px;
  margin-top: 20px;
}
.caillou_rubrique_lien:hover{
  color: white;
}