{% extends 'base.html.twig' %}

{% block principal %}
<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Calibri', sans-serif;
    }
    h1{
        color: #000;
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    td {
        color: #000;
    }
    th {
      background-color: #fff;
    }
</style>
<div>
    <h1>Livre dont le titre commence par une lettre</h1>
    <table>
        <tr>
            <th>Libellé</th>
            <th>Valeur</th>
        </tr>
        {% for livreAuteurs in livreAuteur %}
            <tr>
                <td>Nom</td>
                <td>{{ livreAuteurs.auteur.nom }}</td>
            </tr>
            <tr>
                <td>Prenom</td>
                <td>{{ livreAuteurs.auteur.prenom }}</td>
            </tr>
        {% endfor %}
            <tr><a class="lien" href="{{path('app_livre_index') }}">Retour</a></tr>
        </tr>
    </table>
</div>
{% endblock %}