{% extends 'base.html.twig' %}
{% block principal %}
{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/form.css")}}"/>
<p>Bravo formulaire ajouté</p>
<a class="lien caillou_rubrique_lien" href="{{path('app_livre_index') }}">Retour aux marques pages</a>
{% endblock %}