{% extends 'base.html.twig' %}

{% block principal %}
{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2details.css")}}"/>
<div>
    <h1>Livre dont le titre commence par une lettre</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        {% for livreAuteurs in livreAuteur %}
            <tr>
                <td>{{ livreAuteurs.auteur.nom }}</td>
                <td>{{ livreAuteurs.auteur.prenom }}</td>
            </tr>
        {% endfor %}
        </tr>
    </table>
    <div><a class="lien caillou_rubrique_lien" href="{{path('app_livre_index') }}">Retour</a></div>
</div>
{% endblock %}